*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "General Sans";
}
html,body{
    width: 100%;
    height: 100%;
    scroll-behavior: smooth;
}
body{
    background-color: black;
    color: white;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white; 
}
.container{
    margin: 0 3vw;
}
.box{
    width: fit-content;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}
.boxContent{
    transform: translateY(100%);
    z-index: 1;
    opacity: 0;
}
.down{
    transform: translateY(-100%);
    z-index: 1;
}
.hover{
    position: relative;
    transition: all 0.3s ease;
}
.hover:hover::after{
    position: absolute;
    bottom: -7px;
    left: 0px;
    content: "";
    width: 100%;
    height: 1px;
    background-color: white;
    animation: hover 0.2s linear;
}
.hover i{
    display: inline-block;
    transition: all ease 1s;
}
.hover:hover i{
    transform: rotate(50deg);
    transition: all ease 1s;
}
@keyframes hover{
    0%{
        width: 0;
    }
    100%{
        width: 100%;
    }
}
/* header part startsv here */
.header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 2vw 0;
    overflow: hidden;
}
nav .main{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    text-transform: uppercase;
}
nav .main a{
    transform: translate(80px, -10px);
    opacity: 0;
}
.menu{
  display: flex;
  align-items: center;
}
/* banner */
#banner h2{
    font-weight: bold;
    font-size: 10vw;
    text-transform: uppercase;
    color: #888;
    margin: 1vw 0 0 0;
    line-height: 1;
}
.subHeading{
    position: relative;
    display: inline-block;
    padding-left: 10vw;
}
.subHeading h5{
    position: absolute;
    right: 0;
    text-transform: uppercase;
    font-size: 1vw;
    line-height: 1;
}
.text{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 10vw
}
.text h5{
    text-transform: uppercase;
    font-size: 1.2vw;
}
#banner .bannerFooter{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 1.2vw;
    line-height: 1;
    margin-top: 2vw;
    margin-bottom: 13vw;
}
#banner .left{
    display: grid;
    row-gap: 0.3vw;
}
.arrows {
    display: flex;
    gap: 3px;
}
.arrow{
    width: 25px;
    height: 25px;
    background-color: #888;
    border-radius: 50%;
    overflow: hidden;
}
.arrows i{
    font-size: 0.9vw;
    color: black;
    cursor: pointer;
    margin: 3px;
    /* transition: all ease 1s; */
    display: inline-block;
}
.arrow:hover i{
    animation: arrow 1s ease;
}
@keyframes arrow{
    0%{
        transform: translateY(-120%);
        opacity: 0;
    }
    40%{
        transform: translateY(100%);
        opacity: 1;
    }
    60%{
        transform: translateY(120%);
        opacity: 0;
    }
    80%{
        transform: translateY(-120%);
        opacity: 0;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
}
/* portfolio */
#portfolio h2{
    font-weight: bold;
    font-size: 3vw;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 10vw;
    justify-content: center;
    display: flex;
}
#portfolio h6{
    font-weight: bold;
    font-size: 1.5vw;
    text-transform: uppercase;
    color: #888;
    margin: 10vw 0 3vw 0;
    justify-content: center;
    display: flex;
}
#portfolio .elems{
    display: flex;
    border-top: 1px solid white;
    font-size: 5.5vw;
    text-transform: uppercase;
    padding: 3vw 0;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.elems img{
    height: 125%;
    position: absolute;
    z-index: 999999;
    border-radius: 10px;
    opacity: 0;
}
.elems h3{
    opacity: 0.7;
}
.elems h5{
    font-size: 1vw;
}
.elems:nth-last-child(2){
    border-bottom:1px solid white;
}
button{
    font-size: 1vw;
    padding: 0.5vw 1.5vw;
    border-radius: 50px;
    border: 1px solid white;
    background-color: black;
    color: white;
    margin: 2.5vw 0;
    transition: all ease 1s;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color: black
}
/* company */
.company{
    padding: 80px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    overflow: hidden;
    margin-top: 10vw;
}
.company .images{
    gap: 10vw;
    display: flex;
    animation: imgScroll 20s linear infinite running;
}
.company img{
    transform: scale(1.2)
}
.company .images:hover{
    animation-play-state: paused;
}
@keyframes imgScroll {
    0%{ 
        transform: translateX(100%); 
    }
    100%{ 
        transform: translateX(-100%); 
    }
}

/* about */
#about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 17vw;
}
#about img{
    width: 40%;
    height: 40%;
    margin-right: 7vw;
}
#about h5{
    font-size: 1vw;
    text-transform: uppercase;
    opacity: 0.7;
}
#about p{
    font-size: 2vw;
    line-height: 1.5;
    margin-top: 1.5vw;
}
/* footer */
#footer{
    margin-top: 3vw;
    text-transform: uppercase;
}
#footer h5{
    opacity: 0.7
}
#footer .down{
    display: flex;
    justify-content: space-between;
     margin: 10vw 0 2vw 0;
}
#footer .left{
    display: flex;
    gap: 2vw;
}
#footer .right{
    display: flex;
    gap: 2vw;
}
/* mouse pointer */
.circle{
    position: fixed;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    z-index: 9999999;
}
/* bottom arrow */
.bottom-arrow{
    position: fixed;
    bottom: 0.7vw;
    right: 0.7vw;
    width: 45px;
    background: #000000;
    border-radius: 50%;
    height: 45px;
    border: 1px solid white;
    opacity: 0;
}
.bottom-arrow i{
    transform: translate(85%, 57%);
    display: inline-block;
}